# Node modules
/node_modules/

# Build output
/build/
/dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Debugger directories
.idea/
*.sublime-workspace
*.sublime-project

# Optional npm cache
.npm

# Others
coverage/
.cache/
